<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750317026051-bk4pv066tflfivtv91sts63cqevtltvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750317026051-bk4pv066tflfivtv91sts63cqevtltvc</string>
	<key>API_KEY</key>
	<string>AIzaSyAPImDyC2N_bvszGPex2xsjin2xjCYLRfI</string>
	<key>GCM_SENDER_ID</key>
	<string>750317026051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sohee.community</string>
	<key>PROJECT_ID</key>
	<string>community-project-a4c67</string>
	<key>STORAGE_BUCKET</key>
	<string>community-project-a4c67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750317026051:ios:ccc00a8d3f73eacf778736</string>
</dict>
</plist>